<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>TASK 4</span>
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <Select/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import Select from './components/Select'

export default {
  name: 'App',
  components: {
    Select
  },
  data () {
    return {
      //
    }
  }
}
</script>
