<template>
  <div class = "select">
    <v-select
      v-model="value"
      :items="items"
      label="Водительские категории"
      multiple
    />
    <span>driverCat: {{ driverCat }}</span>
    <br />
    <span>Categories: {{ driverCatLett }}</span>
  </div>
</template>

<script>
  import store from '../store/index';

  export default {
    data: () => ({
      items: ['A', 'B', 'C', 'D', 'E'],
      value: []
    }),
    watch: {
      value() {
        let driverCat = '';
        this.items.forEach(item => {
          driverCat += (this.value.includes(item) ? '2' : '1');
        });
        store.commit('newDriverCat', driverCat);
      }
    },
    computed: {
      driverCatLett() {
        let catArray = [];
        store.state.driverCat.split('').forEach((item, index) => {
          item === '2' && catArray.push(this.items[index]);
        });
        return catArray.join(', ') || 'No categories.';
      },
      driverCat: () => store.state.driverCat
    }
  }
</script>

<style scoped>
  .select {
    width: 500px;
    margin: 10px;
  }
</style>
